* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color: #061ea1;
    color: aliceblue;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

.choice {
    height: 280px;
    width: 250px;
}

.choice:hover {
    opacity: 0.7;
    cursor: pointer;
}

img {
    height: 280px;
    width: 280px;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}

.score-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem; /* Adjusted margin */
    padding: 1rem; /* Added padding */
    background-color: #f0f0f0; /* Added background color */
    border-radius: 10px; /* Added border-radius */
}

.score {
    text-align: center;
}

#user_score,
#computer_score {
    font-size: 2.5rem; /* Adjusted font size */
    font-style: tahoma;
    font-weight: bold;
    color: #061ea1;
}

.msg_container {
    margin-top: 3rem;
    text-align: center;
}

#msg {
    background-color: rgb(97, 33, 161);
    color: rgb(243, 126, 165);
    font-size: 2rem;
    margin-top: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
